@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');
@import "./global-styles/color";
@import "./global-styles/font";

$container-margin:31px 10px 0px  10px;

$container-padding:16px 19px;

body {
    font-family: $roboto;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-col;
}

.container {
    background: $primary-col;
    margin: $container-margin;
    padding: $container-padding;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #00000030;
}

.label {
    font-weight: 500;
    font-family: $roboto;
    font-size: 18px;
    margin-bottom: 13px;
    display: inline-block;
    color: $text-col;
    
}
