@import "../../global-styles/color";
@import "../../global-styles/font";

.coursesSelectedList {
    .selectedCourse {
        color: #292929;
        display: flex;
        align-items: center;
        border-radius: 14px;
        background: $secondary-col;
        height: 2.6rem;
        padding: 9px 0;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 5px #0000003e;
        cursor: pointer;
        transform-origin: top;
        &-enter {
            opacity: 0;
            &-active {
                opacity: 1;
                transition: opacity 300ms;
            }

        }
        &-exit {
            opacity: 1;
            &-active {
                opacity: 0;
                transition: opacity 300ms;
            }
        }
        .color {
            display: inline-block;
            width: 18px;
            height: calc(100% + 18px);
            margin-right: 6px;
        }
        span:nth-child(2) {
            font-size: 1rem;
            margin-right: 8px;
        }
        span:nth-child(3) {
            color: #777777;
        }
        button {
            position: absolute;
            right: 13px;
            line-height: 1rem;
            border: none;
            color: #ff8381;
            font-size: 1.5rem;
            background: none;
        }
    }
    .selectedCourse:not(:last-of-type) {
        margin-bottom: 20px;
    }
}
