@import "../../global-styles/color";
@import "../../global-styles/font";

.quarterInfo {
    .quarterSelect {
        display: flex;
        align-items: center;
    }
    .btn {
        margin-left: 10%;
    }
}
