@import "../../global-styles/color";
@import "../../global-styles/font";

div.coursePanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    .exit {
        position: absolute;
        right: 9px;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .courseInfo {
        p:first-of-type,
        div div label {
            font-weight: 500;
        }
        div {
            margin-bottom: 7px;
        }
        > div {
            margin-bottom: 20px;
        }
    }

    .sectionLabels {
        > div:first-of-type {
            text-align: left;
            font-size: 1.1rem;
            margin-bottom: 10px;
            span:first-of-type {
                font-weight: 500;
                margin-right: 10px;
            }

            span:last-of-type {
                font-size: 0.8rem;
                color: #929292;
            }
        }

        > div:last-of-type {
            display: flex;
            margin-bottom: 5px;
            font-size: 1rem;

            color: #7aa7ff;
            span:nth-child(1) {
                flex: 0 0 21%;
            }
            span:nth-child(2) {
                flex: 0 0 51%;
            }
            span:nth-child(3) {
                flex: 1 0 20%;
            }
        }
    }
    .sectionList {
        overflow-y: scroll;

        .section {
            display: flex;
            font-size: 0.9rem;
            text-align: center;
            padding: 10px 5px;
            cursor: pointer;

            span:nth-child(1) {
                flex: 0 0 21%;
            }
            span:nth-child(2) {
                flex: 0 0 51%;
            }
            span:nth-child(3) {
                flex: 1 0 20%;
            }
            &:hover {
                background: $accent-col;
            }
            &.selected {
                background: #20a4f3;
                color: $primary-col;
            }
        }
    }
    .btn {
    }
}
